.btn {
  padding: 10px 21px;
  color: #303446;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background: rgba(10, 14, 32, 0.07);

  &:hover {
    background: rgba(10, 14, 32, 0.1);
  }

  &:active {
    background: rgba(10, 14, 32, 0.15);
  }

  &:disabled {
    background: #C5C7D0;
  }

  &-primary {
    border-radius: 3px;
    color: #fff;
    background: #ED5252;

    &:hover {
      background: #F06C6C;
    }

    &:active {
      background: #D54A4A;
    }

    &:disabled {
      background: #F0F1F2;
    }
  }

  &-icon {
    padding: 0;
    height: 24px;
    width: 24px;
    color: #A0A6BF;
    background-repeat: no-repeat !important;
    background-position: center center;
    background-color: inherit;
    background: none;

    &:hover, &:active {
      color: #649BE9;
      background-color: inherit;
    }
  }
}