@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "buttons";
@import "modal";
@import "form";
@import "containers";

body {
  margin: 0;
  color: #6A6E7E;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: #fff;
}

button,
a {
  cursor: pointer;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
}

.title {
  margin: 0;
  color: #303446;
  font-weight: 600;
}